<!doctype html>
<html>
<head>
     <meta charset="utf-8"/>
      <link rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
       integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
       crossorigin="anonymous">

       {%load static%}
       <link rel="stylesheet" href="{% static 'accounts/style.css'%}" type="text/css">
     <title>Login</title>
</head>
<body>
     <div class="container">
          <h1>Welcome!</h1>
          <p> You can login here.</p>
          <button class="btn btn-default" type="button" name="button">Login</button>
     </div>
</body>
</html>
